<!DOCTYPE html>
<html>
  <head>
    <title>Query's Output</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% for ( var val =0; val < queryResult.length; val++){ %>
          <p> queryResult[0] </p>
    <% } %>
  </body>
</html>
